

<h1>Most reacent pictures</h1>

<ul>
	<% @most_recent_pictures.each do |picture| %>
	<li><%= picture.title%></li>
	<%end%>
</ul>
<%= link_to "New Picture", "/pictures/new" %>
<%= Picture.created_before(1.month.ago).count%>



